<footer class="main-footer">
    <div class="main-footer-container">

        <div> <a href="/impressum" >Impressum</a> </div>
        <div><a href="/datenschutzerklaerung">Datenschutzerklärung</a></div>
        <div><a href="/statut">Statut</a></div>
        <div><a href="/rechtliches">Rechtliches</a></div>
        <div><a href="/kontakt">Kontakt </a></div>
        <div><a href="/vorstand">Vorstand</a></div>
        <div>© 2025 KSV Rochade Göttingen</div>
    </div>
</footer>