<!DOCTYPE html>
<html>
<head>
    <title>KSV Rochade Göttingen</title>
    <link rel="SHORTCUT ICON" href="/Images/LOGO.png" type="image/png">
    <meta name="description" content="KSV Rochade Göttingen Schach Turnier Turniere spielen Verein Schachturnier Schachturniere Schachverein Termine">
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <script src="/script.js"></script>
</head>

<body>

    <!-- Include header -->
    <%- include('header') %>

    <section class="content-section container">
        <div class="Hauptteil">
            <div class="content">
                <!-- Content -->







            </div>

            <!-- Include sidebar -->
            <%- include('sidebar') %>
        </div>
    </section>

    <!-- Include footer -->
    <%- include('footer') %>

</body>
</html>
